
@font-face {
  font-family: digitalclockFont;
  src: url('/font/digital_italic.ttf') format('truetype')
} 
.clock-one {
  color: #000; 
  font-family:digitalclockFont ; 
  margin-left: 8px;
  padding: 1px 4px; 
  background: #ffffff;
  padding-bottom: 8px;
   padding-top: 6px;
   font-size: 15px;
 }