.room-gitlab{
    background-image: url("https://cdn.iconscout.com/icon/free/png-512/gitlab-282507.png");
    padding: 10px;
}
.room-jira{
    background-image: url("https://cdn.iconscout.com/icon/free/png-512/gitlab-282507.png");
    padding: 10px;
}
.room-drive{
    background-image: url("https://cdn.iconscout.com/icon/free/png-512/gitlab-282507.png");
    padding: 10px;
}
.room-sheet{
    background-image: url("https://cdn.iconscout.com/icon/free/png-512/gitlab-282507.png");
    padding: 10px;
}